<div class="form-component">
    <div class="container">

        <form [formGroup]="shipmentForm">
            <div class="content" *ngIf="!btnAdd; else contentAdd">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <h2 class="panel-heading">
                                -- Origin --
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="sender_name" placeholder="Name" formControlName="sender_name"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.sender_name.errors }" />
                                <div *ngIf="submitted && f.sender_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.sender_name.errors.required">Name is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="sender_email" placeholder="xyz@abc.com"
                                    formControlName="sender_email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.sender_email.errors }" />
                                <div *ngIf="submitted && f.sender_email.errors" class="invalid-feedback">
                                    <div *ngIf="f.sender_email.errors.required">Email is required</div>
                                    <div *ngIf="f.sender_email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" name="sender_phone" placeholder="0712345678"
                                    formControlName="sender_phone" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.sender_phone.errors }" />
                                <div *ngIf="submitted && f.sender_phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.sender_phone.errors.required">Phone number is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Address </label>
                                <input type="text" name="sender_address" placeholder="" formControlName="sender_address"
                                    class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>City</label>
                                <input type="text" name="sender_locality" placeholder=""
                                    formControlName="sender_locality" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Postal code </label>
                                <input type="number" name="sender_postal_code" placeholder=""
                                    formControlName="sender_postal_code" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Country</label>
                                <select name="sender_country_code" class="form-control"
                                    formControlName="sender_country_code">
                                    <option value="FR">France</option>
                                    <option value="VN">Viet Nam</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <h2 class="panel-heading">
                                -- Destination--
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="receiver_name" placeholder="Destination name"
                                    formControlName="receiver_name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.receiver_name.errors }" />
                                <div *ngIf="submitted && f.receiver_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.receiver_name.errors.required">Destination name is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="receiver_email" placeholder="xyz@abc.com"
                                    formControlName="receiver_email" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Phone number</label>
                                <input type="number" name="receiver_phone" placeholder="0987654321"
                                    formControlName="receiver_phone" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.receiver_phone.errors }" />
                                <div *ngIf="submitted && f.receiver_phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.receiver_phone.errors.required">Receiver phone number required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Destination address</label>
                                <input type="text" name="receiver_address" placeholder=""
                                    formControlName="receiver_address" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.receiver_address.errors }" />
                                <div *ngIf="submitted && f.receiver_address.errors" class="invalid-feedback">
                                    <div *ngIf="f.receiver_address.errors.required">
                                        Receiver address is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>City</label>
                                <input type="text" name="receiver_locality" placeholder=""
                                    formControlName="receiver_locality" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.receiver_locality.errors }" />
                                <div *ngIf="submitted && f.receiver_locality.errors" class="invalid-feedback">
                                    <div *ngIf="f.receiver_locality.errors.required">Receiver locality is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Postal code</label>
                                <input type="number" name="receiver_postal_code" placeholder=""
                                    formControlName="receiver_postal_code" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Country</label>
                                <select name="receiver_country_code" class="form-control"
                                    formControlName="receiver_country_code">
                                    <option value="FR">France</option>
                                    <option value="VN">Viet Nam</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <h2 class="panel-heading">
                                -- Package info --
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Height </label>
                                <input type="number" name="height" placeholder="" formControlName="height"
                                    class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Width </label>
                                <input type="number" name="width" placeholder="" formControlName="width"
                                    class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Length </label>
                                <input type="number" name="length" placeholder="" formControlName="length"
                                    class="form-control" />
                            </div>

                            <div class="form-group hidden">
                                <label>Dimension unit </label>
                                <select name="dimension_unit" formControlName="dimension_unit" class="form-control">
                                    <option value="cm">Centimeter</option>
                                    <option value="m">Meter</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Weight amount</label>
                                <input type="number" name="weight_amount" placeholder="" formControlName="weight_amount"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.weight_amount.errors }" />
                                <div *ngIf="submitted && f.weight_amount.errors" class="invalid-feedback">
                                    <div *ngIf="f.weight_amount.errors.required">Gross weight is required</div>
                                    <div *ngIf="f.weight_amount.errors.min">Gross weight minimum must be > 0</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Weight unit </label>
                                <select name="weight_unit" class="form-control" formControlName="weight_unit">
                                    <option value="g">Gram</option>
                                    <option value="kg">Kilogram</option>
                                </select>
                            </div>
                        </div>

                        <br><br><br>

                        <div class="col-sm-12">
                            <div class="form-group text-center">
                                <button (click)="getQuote()" type="button" [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    GET QUOTE
                                </button>
                            </div>
                        </div>



                        <!-- <div>
                            <button type="submit" class="btn btn-primary">Get Quote</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <ng-template #contentAdd>
                <div class="content-add">
                    <h2 style="text-align: center">Order summary</h2>
                    <br><br><br>
                    <div class="row">
                        <div class="info-sender col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4>Sender info</h4>
                                </div>
                                <div class="panel-body">
                                    <h2 class="title-add"> </h2>
                                    <p>Name: {{shipmentInfo.origin.contact.name }}</p>
                                    <p>Email: {{shipmentInfo.origin.contact.email }}</p>
                                    <p>Phone: {{shipmentInfo.origin.contact.phone }}</p>
                                    <p>From: {{shipmentInfo.origin.address.address_line1 }} -
                                        {{shipmentInfo.origin.address.locality }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-reciver col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4>Receiver info</h4>
                                </div>
                                <div class="panel-body">

                                    <p>Name: {{shipmentInfo.destination.contact.name }}</p>
                                    <p>Email: {{shipmentInfo.destination.contact.email }}</p>
                                    <p>Phone: {{shipmentInfo.destination.contact.phone }}</p>
                                    <p>To: {{shipmentInfo.destination.address.address_line1 }}
                                        - {{shipmentInfo.destination.address.locality }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-reciver col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4>Package info</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Dimensions : {{shipmentInfo.package.dimensions.height}} x 
                                        {{shipmentInfo.package.dimensions.width}} x {{shipmentInfo.package.dimensions.length}}</p>
                                    <p>Package weight: {{shipmentInfo.package.grossWeight.amount }} {{shipmentInfo.package.grossWeight.unit }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group text-center">
                                <div class="alert alert-success" role="alert">
                                    {{message}}
                                </div>

                                <button (click)="createShipment()" type="button" *ngIf="btnAdd" [disabled]="loadingAdd"
                                    class="btn btn-primary">
                                    <span *ngIf="loadingAdd" class="spinner-border spinner-border-sm mr-1"></span>
                                    Create Shipment
                                </button>
                                or
                                <button (click)="backGetQuote()" type="button" class="btn btn-info">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </form>
    </div>
</div>