<div style="text-align: right">
    <div class="form-group text-center" *ngIf="!showDetail; else shipmentDetail">
        <form #form="ngForm" (ngSubmit)="getShipment(form)">
            <label><strong>Reference number : </strong></label><input ngModel name="ref_number" type="text"
                placeholder="" id="ref_number">
            <button type="submit">Search</button>
        </form>
        <label *ngIf="!found" [style.color]="'red'">{{ text }}</label>
    </div>
</div>

<ng-template #shipmentDetail>
    <div class="content-detail">
        <h2 style="text-align: center">Your order</h2>
        <br><br><br>
        <div class="row">
            <div class="info-sender col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Sender info</h4>
                    </div>
                    <div class="panel-body">
                        <h2 class="title-add"> </h2>
                        <p>{{ senderName }}</p>
                        <p>{{ senderEmail }}</p>
                        <p>{{ senderPhone }}</p>
                        <p>{{ senderAddress }}, {{ senderPostalCode }} {{ senderLocality }}</p>
                    </div>
                </div>
            </div>
            <div class="info-reciver col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Receiver info</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{ receiverName }}</p>
                        <p>{{ receiverEmail }}</p>
                        <p>{{ receiverPhone }}</p>
                        <p>{{ receiverAddress }}, {{ receiverPostalCode }} {{ receiverLocality }}</p>
                    </div>
                </div>
            </div>
            <div class="info-reciver col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Package info</h4>
                    </div>
                    <div class="panel-body">
                        <p>Dimensions : {{ packageLength }} x
                            {{ packageWidth }} x {{ packageHeight }}</p>
                        <p>Package weight: {{ packageWeight }}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group text-center">
                    <button (click)="deleteThisShipment()" type="button" 
                        class="btn btn-warning">
                        <!-- <span *ngIf="loadingAdd" class="spinner-border spinner-border-sm mr-1"></span> -->
                        Delete Shipment
                    </button>
                    or
                    <button (click)="hideInfo()" type="button" class="btn btn-info">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>